@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <h2>Welcome to Grand Circus Coffee Shop!</h2>
       <p><a asp-action="Registration">Click here to register!</a></p> 
        
    </div>
